@model EntityLayer.Concrete.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <h4 class="mtext-105 cl2 txt-center p-b-30">
                    Üyelik Formu
                </h4>

                @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                {
                    <div class="form-group col-md-12" style="padding-left: 25px; padding-bottom: 25px; background-color: gainsboro ">

                        <hr />
                        <center>
                            @Html.Label("- - - KİŞİSEL BİLGİLERİNİZ - - -", new { @class = "p-t-30 " })
                        </center>

                        @Html.Label("Ad", new { @class = "p-t-20 " })
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control p-r-30 ", required = "true" })
                        <p style="color:red"> @Html.ValidationMessageFor(x => x.UserName) </p>

                        @Html.Label("Soyad", new { @class = "p-t-20 " })
                        @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control", required = "true" })
                        <p style="color:red"> @Html.ValidationMessageFor(x => x.UserSurname) </p>

                        @Html.Label("Cep telefon numarası", new { @class = "p-t-20 " })
                        @Html.TextBoxFor(x => x.UserPhoneNumber, new { @class = "form-control", required = "true" })
                        <p style="color:red"> @Html.ValidationMessageFor(x => x.UserPhoneNumber) </p>

                        @Html.Label("E-posta adresi", new { @class = "p-t-20 " })
                        @Html.TextBoxFor(x => x.UserMail, new { @class = "form-control", required = "true" })
                        <p style="color:red"> @Html.ValidationMessageFor(x => x.UserMail) </p>

                        @Html.Label("Parolanız", new { @class = "p-t-20 " })

                        <div class="ui icon input form-control">
                            @Html.Password("UserPassword", null, new { @class = "form-control", maxlength = "64", placeholder = "Password", required = "true" })
                            <i class="circular eye link icon" style="margin: 7px 10px 0px 0px " onclick="togglePassword()"></i>
                        </div>
                        <p style="color:red"> @Html.ValidationMessageFor(x => x.UserPassword) </p>
                        <span style="font-size:small">Şifreniz <b>en az 7 karakter </b> ve <b>en fazla 64 karakter </b> olmalı, harf ve rakam içermelidir.</span>

                        <br />
                        <hr />
                        <center>
                            @Html.Label("- - - ADRES BİLGİLERİNİZ - - -", new { @class = "p-t-20 " })
                        </center>
                        @Html.Label("Şehir", new { @class = "p-t-20 " })
                        @Html.TextBoxFor(x => x.UserCity, new { @class = "form-control", required = "true" })
                        <p style="color:red"> @Html.ValidationMessageFor(x => x.UserCity) </p>

                        @Html.Label("İlçe", new { @class = "p-t-20 " })
                        @Html.TextBoxFor(x => x.UserDistrict, new { @class = "form-control", required = "true" })
                        <p style="color:red"> @Html.ValidationMessageFor(x => x.UserDistrict) </p>

                        @Html.Label("Adres", new { @class = "p-t-20 " })
                        @Html.TextAreaFor(x => x.UserAddress, new { @class = "form-control", required = "true" })
                        <p style="color:red"> @Html.ValidationMessageFor(x => x.UserAddress) </p>
                        <table style="margin-top:20px">
                            <tr>
                                <td>
                                    @Html.CheckBox("Acikriza", false, new { @class = "form-control", required = "true" })
                                </td>
                                <td>
                                    <p style="margin-left: 10px;margin-top:20px">Kişisel verilerimin işlenmesine yönelik <a href="#" class="js-show-modal1">aydınlatma metnini</a> okudum ve anladım.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.CheckBox("aydinlatmaMetni", false, new { @class = "form-control", required = "true" })
                                </td>
                                <td>
                                    <p style="margin-left: 10px;margin-top:20px">
                                        AydınogluLavander.com
                                        <a href="#" class="js-show-modal2">Üyelik Sözleşmesini</a> ve
                                        <a href="#" class="js-show-modal3">Gizlilik Politikasını</a> okudum, kabul ediyorum
                                    </p>

                                </td>
                            </tr>
                        </table>
                        <div></div>

                        <br />
                        <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                            ÜYE OL
                        </button>
                    </div>

                }
            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-map-marker"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Address
                        </span>

                        <p class="stext-115 cl6 size-213 p-t-18">
                            Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-phone-handset"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Lets Talk
                        </span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            +1 800 1236879
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-envelope"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Sale Support
                        </span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            contact@example.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ModalAydınlatma Metni -->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
    <div class="overlay-modal1 js-hide-modal1"></div>

    <div class="container" style="width:70%">
        <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
            <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                <img src="~/template/images/icons/icon-close.png" alt="CLOSE">
            </button>

            <div class="row">
                <div class="col-md-12 col-lg-12 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="card-body page-body">
                            <h5 class="card-title">KVKK Aydınlatma Metni</h5>
                            <p>
                            </p><p>Gerek web sitemizi kullanırken, gerekse başka yollarla tarafımıza iletmiş olduğunuz kişisel bilgilerinizin güvenliğinin sağlanmasına son derece önem vermektedir. 6698 Sayılı "Kişisel Verilerin Korunması Kanunu” yürürlüğe girmiştir. Anılan mevzuat ve bu mevzuatta belirtilen bir takım tanımlar hakkında sizi bilgilendirmek isteriz:</p>

                            <p>Kişisel veri: Kimliği belirli veya belirlenebilir gerçek kişiye ilişkin her türlü bilgiyi,</p>

                            <p>Kişisel verilerin İşlenmesi :Kişisel verilerin tamamen veya kısmen otomatik olan ya da herhangi bir veri kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla elde edilmesi, kaydedilmesi, depolanması, muhafaza edilmesi, değiştirilmesi, yeniden düzenlenmesi, açıklanması, aktarılması, devralınması, elde edilebilir hâle getirilmesi, sınıflandırılması ya da kullanılmasının engellenmesi gibi veriler üzerinde gerçekleştirilen her türlü işlemi,</p>

                            <p>Veri işleyen :Veri sorumlusunun verdiği yetkiye dayanarak onun adına kişisel verileri işleyen gerçek veya tüzel kişiyi,</p>

                            <p>Veri kayıt sistemi :&nbsp;Kişisel verilerin belirli kriterlere göre yapılandırılarak işlendiği kayıt sistemini,</p>

                            <p>Veri sorumlusu :&nbsp;Kişisel verilerin işleme amaçlarını ve vasıtalarını belirleyen, veri kayıt sisteminin kurulmasından ve yönetilmesinden sorumlu olan gerçek veya tüzel kişiyi ifade eder.</p>

                            <p><strong>1. Kişisel Verilerin Korunması ve Rıza Metninin Amacı ve Şirketimizin Veri Sorumlusu Konumu:</strong></p>

                            <p>Alışveriş sitemizin müşterilere ilişkin kişisel veriler bakımından 6698 sayılı Kişisel Verilerin Korunması Kanunu ("Kanun”) kapsamında "veri sorumlusu” sıfatına sahip olup işbu Kişisel Verilerin Korunması ve Rıza Metni ile söz konusu Kanun uyarınca müşterilerin alışveriş sitemiz tarafından gerçekleştirilen kişisel veri işleme faaliyetleri hakkında aydınlatılması ve aşağıda 3. maddede belirtilen durumlar için açık rızalarının temini hedeflenmektedir.</p>

                            <p><strong>2. Müşterilere Ait Kişisel Verilerin İşlenme Amacı:</strong></p>

                            <p>Müşterilere ait kişisel veriler aşağıda ve Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde işlenmektedir. Müşterilere ait kişisel veriler;</p>

                            <ul>
                                <li>Alışveriş sitemiz tarafından sunulan ürün ve hizmetlerden ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi,</li>
                                <li>Alışveriş sitemiz tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi,</li>
                                <li>Alışveriş sitemizin ticari ve/veya iş stratejilerinin planlanması ve icrası,</li>
                                <li>Alışveriş sitemiz ile iş ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari-iş güvenliğinin temini ile tarafımızın sunduğu ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve icrası,</li>
                                <li>İlgililerin olası hak ve alacak taleplerinin tesisi</li>
                                <li>Yetkili kuruluşlara mevzuattan kaynaklı bilgi verilmesi</li>
                                <li>Ziyaretçi kayıtlarının oluşturulması ve takibi</li>
                                <li>Şirketimiz ve Şirketimiz adına şubelerimiz, çağrı merkezimiz, bağlı şirketlerimiz tarafından ya da internet sitelerimiz ile sosyal medya sayfalarımız veya ve bunlarla sınırlı olmamak üzere her türlü kanallar aracılığı ile Tüketicinin Korunması Hakkında Kanun, Perakende Ticaretin Düzenlenmesi Hakkında Kanun ve diğer yasal mevzuat kapsamında, yükümlülüklerin yerine getirilmesini sağlamak,</li>
                                <li>Müşterilere daha iyi hizmet verebilme, çeşitli avantajlar sağlayıp sunma, satış, pazarlama, bilgilendirme, promosyonlar hakkında bilgi verebilme, kampanya ve koşulları hakkında bilgi sağlama, anket, müşteri memnuniyet araştırmalarını yapabilme, satın alma işlemlerinizi sağlama hızlandırma, siparişlerinizi alma ve teslim edebilme,</li>
                                <li>Müşterilere yönelik kampanyaların oluşturulması, çapraz satış yapılması, hedef kitle belirlenmesi,</li>
                                <li>Müşteri hareketlerinin takip edilerek kullanıcı deneyimini arttırıcı faaliyetlerin yürütülmesi ve alışveriş sitemize ait internet sitesi ile mobil uygulamanın işleyişinin geliştirilmesi ve müşteri ihtiyaçlarına göre kişiselleştirilmesi, doğrudan ve doğrudan olmayan pazarlama, kişiye özel pazarlama ve yeniden pazarlama faaliyetlerinin yürütülmesi, kişiye özel segmentasyon, hedefleme, analiz ve şirket içi raporlama faaliyetlerinin yürütülmesi, pazar araştırmaları,</li>
                                <li>Müşteri memnuniyeti aktivitelerinin planlanması ve icrası ile müşteri ilişkileri yönetimi süreçlerinin planlanması ve icrası amaçlarıyla dahil olmak üzere dahil olmak üzere alışveriş sitemizin ürün ve/veya hizmetlerinin satış ve pazarlama süreçlerinin planlanması ve icrası, alışveriş sitemizin sunduğu ürün ve/veya hizmetlere bağlılık oluşturulması ve/veya arttırılması süreçlerinin planlanması ve icrası kapsamında Müşteri’nin vereceği onayı doğrultusunda işlenebilecek ve işbu Kişisel Verilerin Korunması Metninde belirtilen taraflarla paylaşılabilecektir.</li>
                            </ul>

                            <p>Alışveriş Sitemiz; online davranışsal reklamcılık ve pazarlama yapılabilmesi amacıyla siteye gelen kullanıcının üye olmasalar dahi sitedeki davranışlarını tarayıcıda bulunan bir cookie (çerez) ile ilişkilendirme ve görüntülenen sayfa sayısı, ziyaret süresi ve hedef tamamlama sayısı gibi metrikleri temel alan yeniden pazarlama listeleri tanımlama hakkını haizdir. Daha sonra bu kullanıcıya sitede ya da Görüntülü Reklam Ağı’ndaki diğer sitelerde, kullanıcıların ilgi alanlarına göre hedefe yönelik reklam içeriği gösterilebilir. Google AFS reklamlarının Alışveriş Sitemize yönlendirilmesi esnasında Google kullanıcıların tarayıcısına çerez yerleştirebilir veya bunlarda yer alan çerezleri okuyabilir veya bilgi toplamak amacı ile web işaretleri kullanabilir.</p>

                            <p><strong>3. Müşterilerin Açık Rızası Doğrultusunda İşlenecek Kişisel Veriler ve İşleme Amaçları:</strong></p>

                            <p>Kanun’un 5/2 ile 6/3 maddesinde yer alan kişisel veri işleme şartlarının karşılanamadığı aşağıdaki durumlar için Alışveriş sitemiz tarafından kişisel verilerin işlenebilmesi için müşterilerin açık rızasının alınması gerekmektedir.</p>

                            <p><strong>4. Müşterilere Ait Kişisel Verilerin Aktarımı:</strong></p>

                            <p>Müşterilere ait kişisel veriler, alışveriş sitemiz tarafından sunulan ürün ve hizmetlerden ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi, alışveriş sitemiz tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, alışveriş sitemizin ticari ve/veya iş stratejilerinin planlanması ve icrası, alışveriş sitemizin ve alışveriş sitemiz ile iş ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari-iş güvenliğinin temini ile alışveriş sitemizin sunduğu ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve icrası da dahil olmak üzere Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde Şirket yetkilileri, iştiraklerimiz, iş ortaklarımız, tedarikçilerimiz, hissedarlarımız, kanunen yetkili kamu kurum ve kuruluşları ile özel kurumlar ile paylaşılabilecektir.</p>

                            <p>Kullanıcının Ad ve İletişim Bilgileri, ödeme aşamasında onaylayacağı ödeme kuruluşu çerçeve sözleşmesi uyarınca ve 9 Ocak 2008 tarihli ve 26751 sayılı Resmi Gazete’de yayımlanan Suç Gelirlerinin Aklanmasının ve Terörün Finansmanının Önlenmesine Dair Tedbirler Hakkında Yönetmelik uyarınca kimlik doğrulaması gerçekleştirilmesi amacıyla ödeme kuruluşlarıyla paylaşılabilecektir.</p>

                            <p>Alışveriş Sitemiz, kişisel verileri yukarıda belirtilen amaçlar dahilinde, 6698 sayılı Kanun’da öngörülen şartları sağlamak koşulu ile yurt içinde üçüncü kişilere aktarabileceği gibi yurt dışına da aktarabilecektir.</p>

                            <p><strong>5. Kişisel Verilerin Toplanma Yöntemi ve Hukuki Sebebi:</strong></p>

                            <p>Kişisel veriler, müşterilerden elektronik ortamda toplanmaktadır. Yukarıda belirtilen hukuki sebeplerle toplanan kişisel veriler Kanun’un 5. ve 6. maddelerinde ve bu Kişisel Verilerin Korunması Metninde belirtilen amaçlarla işlenebilmekte ve aktarılabilmektedir.</p>

                            <p>&nbsp;</p>

                            <p><strong>6. Kişisel Verilerin Saklanma Süreleri</strong></p>

                            <p>Alışveriş Sitemiz, ilgili kanunlarda ve mevzuatlarda öngörülmesi durumunda kişisel verileri bu mevzuatlarda belirtilen süre boyunca saklamaktadır.</p>

                            <p>Kişisel verilerin ne kadar süre boyunca saklanması gerektiğine ilişkin mevzuatta bir süre düzenlenmemişse, Kişisel Veriler Alışveriş Sitemiz’in o veriyi işlerken yürütülen faaliyet ile bağlı olarak Alışveriş Sitemiz’in uygulamaları ve ticari yaşamının teamülleri uyarınca işlenmesini gerektiren süre kadar işlenmekte daha sonra silinmekte, yok edilmekte veya anonim hale getirilmektedir.</p>

                            <p>Kişisel verilerin işlenme amacı sona ermiş; ilgili mevzuat ve Alışveriş Sitemiz’in belirlediği saklama sürelerinin de sonuna gelinmişse; kişisel veriler yalnızca olası hukuki uyuşmazlıklarda delil teşkil etmesi veya kişisel veriye bağlı ilgili hakkın ileri sürülebilmesi veya savunmanın tesis edilmesi amacıyla saklanabilmektedir. Buradaki sürelerin tesisinde bahsi geçen hakkın ileri sürülebilmesine yönelik zaman aşımı süreleri ile zaman aşımı sürelerinin geçmesine rağmen daha önce aynı konularda Alışveriş Sitemiz’e yöneltilen taleplerdeki örnekler esas alınarak saklama süreleri belirlenmektedir. Bu durumda saklanan kişisel verilere herhangi bir başka amaçla erişilmemekte ve ancak ilgili hukuki uyuşmazlıkta kullanılması gerektiği zaman ilgili kişisel verilere erişim sağlanmaktadır. Burada da bahsi geçen süre sona erdikten sonra kişisel veriler silinmekte, yok edilmekte veya anonim hale getirilmektedir.</p>

                            <p>&nbsp;</p>

                            <p>7. Kişisel Veri Sahibi Olarak Müşterilerin Hakları:</p>

                            <p>Kanun’un 11. maddesi uyarınca veri sahipleri; (i) kendileri ile ilgili kişisel veri işlenip işlenmediğini öğrenme, (ii) kişisel verileri işlenmişse buna ilişkin bilgi talep etme, (iii) kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme, (iv) yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme, (v) kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, (vi) Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, (vii) işlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme ve (viii) kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir.</p>

                            <p>Söz konusu hakların kullanımına ilişkin talepler, kişisel veri sahipleri Alışveriş Sitemiz Tarafından 6698 sayılı Kanun Kapsamında belirtilen yöntemlerle iletilebilecektir. Alışveriş sitemiz söz konusu talepleri değerlendirerek 30 gün içerisinde sonuçlandıracaktır.</p>

                            <p>İşbu form üzerinde yer verilen hususlar ile ilgili olarak, hukuki ve teknolojik gelişmeler doğrultusunda değişiklikler söz konusu olabilecektir.</p>
                            <p></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- Modal Üyelik Sözleşmesi -->
<div class="wrap-modal2 js-modal2 p-t-60 p-b-20">
    <div class="overlay-modal2 js-hide-modal2"></div>

    <div class="container" style="width:70%">
        <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
            <button class="how-pos3 hov3 trans-04 js-hide-modal2">
                <img src="~/template/images/icons/icon-close.png" alt="CLOSE">
            </button>

            <div class="row">
                <div class="col-md-12 col-lg-12 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div>
                            <div>SİTE KULLANIM ŞARTLARI</div>
                            <div>Lütfen sitemizi kullanmadan evvel bu ‘site kullanım şartları’nı dikkatlice okuyunuz.&nbsp;</div>
                            <div>Bu alışveriş sitesini kullanan ve alışveriş yapan müşterilerimiz aşağıdaki şartları kabul etmiş varsayılmaktadır:</div>
                            <div>Sitemizdeki web sayfaları ve ona bağlı tüm sayfalar <b>aydinoglulavander.com</b> adresindeki <b>Aydınoğlu Lavander</b> firmasının (Firma) malıdır ve onun tarafından işletilir. Sizler (‘Kullanıcı’) sitede sunulan tüm hizmetleri kullanırken aşağıdaki şartlara tabi olduğunuzu, sitedeki hizmetten yararlanmakla ve kullanmaya devam etmekle; Bağlı olduğunuz yasalara göre sözleşme imzalama hakkına, yetkisine ve hukuki ehliyetine sahip ve 18 yaşın üzerinde olduğunuzu, bu sözleşmeyi okuduğunuzu, anladığınızı ve sözleşmede yazan şartlarla bağlı olduğunuzu kabul etmiş sayılırsınız.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>İşbu sözleşme taraflara sözleşme konusu site ile ilgili hak ve yükümlülükler yükler ve taraflar işbu sözleşmeyi kabul ettiklerinde bahsi geçen hak ve yükümlülükleri eksiksiz, doğru, zamanında, işbu sözleşmede talep edilen şartlar dâhilinde yerine getireceklerini beyan ederler.</div>
                            <div>
                                <br>
                            </div>
                            <div>1. SORUMLULUKLAR</div>
                            <div>a.<span class="Apple-tab-span"></span>Firma, fiyatlar ve sunulan ürün ve hizmetler üzerinde değişiklik yapma hakkını her zaman saklı tutar.&nbsp;</div>
                            <div>b.<span class="Apple-tab-span"></span>Firma, üyenin sözleşme konusu hizmetlerden, teknik arızalar dışında yararlandırılacağını kabul ve taahhüt eder.</div>
                            <div>c.<span class="Apple-tab-span"></span>Kullanıcı, sitenin kullanımında tersine mühendislik yapmayacağını ya da bunların kaynak kodunu bulmak veya elde etmek amacına yönelik herhangi bir başka işlemde bulunmayacağını aksi halde ve 3. Kişiler nezdinde doğacak zararlardan sorumlu olacağını, hakkında hukuki ve cezai işlem yapılacağını peşinen kabul eder.&nbsp;</div>
                            <div>d.<span class="Apple-tab-span"></span>Kullanıcı, site içindeki faaliyetlerinde, sitenin herhangi bir bölümünde veya iletişimlerinde genel ahlaka ve adaba aykırı, kanuna aykırı, 3. Kişilerin haklarını zedeleyen, yanıltıcı, saldırgan, müstehcen, pornografik, kişilik haklarını zedeleyen, telif haklarına aykırı, yasa dışı faaliyetleri teşvik eden içerikler üretmeyeceğini, paylaşmayacağını kabul eder. Aksi halde oluşacak zarardan tamamen kendisi sorumludur ve bu durumda ‘Site’ yetkilileri, bu tür hesapları askıya alabilir, sona erdirebilir, yasal süreç başlatma hakkını saklı tutar. Bu sebeple yargı mercilerinden etkinlik veya kullanıcı hesapları ile ilgili bilgi talepleri gelirse paylaşma hakkını saklı tutar.</div>
                            <div>e.<span class="Apple-tab-span"></span>Sitenin üyelerinin birbirleri veya üçüncü şahıslarla olan ilişkileri kendi sorumluluğundadır.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>2. &nbsp;Fikri Mülkiyet Hakları</div>
                            <div>
                                <br>
                            </div>
                            <div>2.1. İşbu Site’de yer alan ünvan, işletme adı, marka, patent, logo, tasarım, bilgi ve yöntem gibi tescilli veya tescilsiz tüm fikri mülkiyet hakları site işleteni ve sahibi firmaya veya belirtilen ilgilisine ait olup, ulusal ve uluslararası hukukun koruması altındadır. İşbu Site’nin ziyaret edilmesi veya bu Site’deki hizmetlerden yararlanılması söz konusu fikri mülkiyet hakları konusunda hiçbir hak vermez.</div>
                            <div>2.2. Site’de yer alan bilgiler hiçbir şekilde çoğaltılamaz, yayınlanamaz, kopyalanamaz, sunulamaz ve/veya aktarılamaz. Site’nin bütünü veya bir kısmı diğer bir internet sitesinde izinsiz olarak kullanılamaz.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>3. Gizli Bilgi</div>
                            <div>3.1. Firma, site üzerinden kullanıcıların ilettiği kişisel bilgileri 3. Kişilere açıklamayacaktır. Bu kişisel bilgiler; kişi adı-soyadı, adresi, telefon numarası, cep telefonu, e-posta adresi gibi Kullanıcı’yı tanımlamaya yönelik her türlü diğer bilgiyi içermekte olup, kısaca ‘Gizli Bilgiler’ olarak anılacaktır.</div>
                            <div>
                                <br>
                            </div>
                            <div>3.2. Kullanıcı, sadece tanıtım, reklam, kampanya, promosyon, duyuru vb. pazarlama faaliyetleri kapsamında kullanılması ile sınırlı olmak üzere, Site’nin sahibi olan firmanın kendisine ait iletişim, portföy durumu ve demografik bilgilerini iştirakleri ya da bağlı bulunduğu grup şirketleri ile paylaşmasına muvafakat ettiğini kabul ve beyan eder. Bu kişisel bilgiler firma bünyesinde müşteri profili belirlemek, müşteri profiline uygun promosyon ve kampanyalar sunmak ve istatistiksel çalışmalar yapmak amacıyla kullanılabilecektir.</div>
                            <div>
                                <br>
                            </div>
                            <div>3.3. Gizli Bilgiler, ancak resmi makamlarca usulü dairesinde bu bilgilerin talep edilmesi halinde ve yürürlükteki emredici mevzuat hükümleri gereğince resmi makamlara açıklama yapılmasının zorunlu olduğu durumlarda resmi makamlara açıklanabilecektir.</div>
                            <div>
                                <br>
                            </div>
                            <div>4. Garanti Vermeme: İŞBU SÖZLEŞME MADDESİ UYGULANABİLİR KANUNUN İZİN VERDİĞİ AZAMİ ÖLÇÜDE GEÇERLİ OLACAKTIR. FİRMA TARAFINDAN SUNULAN HİZMETLER "OLDUĞU GİBİ” VE "MÜMKÜN OLDUĞU” TEMELDE SUNULMAKTA VE PAZARLANABİLİRLİK, BELİRLİ BİR AMACA UYGUNLUK VEYA İHLAL ETMEME KONUSUNDA TÜM ZIMNİ GARANTİLER DE DÂHİL OLMAK ÜZERE HİZMETLER VEYA UYGULAMA İLE İLGİLİ OLARAK (BUNLARDA YER ALAN TÜM BİLGİLER DÂHİL) SARİH VEYA ZIMNİ, KANUNİ VEYA BAŞKA BİR NİTELİKTE HİÇBİR GARANTİDE BULUNMAMAKTADIR.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>5. Kayıt ve Güvenlik&nbsp;</div>
                            <div>Kullanıcı, doğru, eksiksiz ve güncel kayıt bilgilerini vermek zorundadır. Aksi halde bu Sözleşme ihlal edilmiş sayılacak ve Kullanıcı bilgilendirilmeksizin hesap kapatılabilecektir.</div>
                            <div>Kullanıcı, site ve üçüncü taraf sitelerdeki şifre ve hesap güvenliğinden kendisi sorumludur. Aksi halde oluşacak veri kayıplarından ve güvenlik ihlallerinden veya donanım ve cihazların zarar görmesinden Firma sorumlu tutulamaz.</div>
                            <div>
                                <br>
                            </div>
                            <div>6. Mücbir Sebep</div>
                            <div>
                                <br>
                            </div>
                            <div>Tarafların kontrolünde olmayan; tabii afetler, yangın, patlamalar, iç savaşlar, savaşlar, ayaklanmalar, halk hareketleri, seferberlik ilanı, grev, lokavt ve salgın hastalıklar, altyapı ve internet arızaları, elektrik kesintisi gibi sebeplerden (aşağıda birlikte "Mücbir Sebep” olarak anılacaktır.) dolayı sözleşmeden doğan yükümlülükler taraflarca ifa edilemez hale gelirse, taraflar bundan sorumlu değildir. Bu sürede Taraflar’ın işbu Sözleşme’den doğan hak ve yükümlülükleri askıya alınır.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>7. Sözleşmenin Bütünlüğü ve Uygulanabilirlik</div>
                            <div>
                                <br>
                            </div>
                            <div>İşbu sözleşme şartlarından biri, kısmen veya tamamen geçersiz hale gelirse, sözleşmenin geri kalanı geçerliliğini korumaya devam eder.</div>
                            <div>
                                <br>
                            </div>
                            <div>8. Sözleşmede Yapılacak Değişiklikler</div>
                            <div>
                                <br>
                            </div>
                            <div>Firma, dilediği zaman sitede sunulan hizmetleri ve işbu sözleşme şartlarını kısmen veya tamamen değiştirebilir. Değişiklikler sitede yayınlandığı tarihten itibaren geçerli olacaktır. Değişiklikleri takip etmek Kullanıcı’nın sorumluluğundadır. Kullanıcı, sunulan hizmetlerden yararlanmaya devam etmekle bu değişiklikleri de kabul etmiş sayılır.</div>
                            <div>
                                <br>
                            </div>
                            <div>9. Tebligat</div>
                            <div>İşbu Sözleşme ile ilgili taraflara gönderilecek olan tüm bildirimler, Firma’nın bilinen e.posta adresi ve kullanıcının üyelik formunda belirttiği e.posta adresi vasıtasıyla yapılacaktır. Kullanıcı, üye olurken belirttiği adresin geçerli tebligat adresi olduğunu, değişmesi durumunda 5 gün içinde yazılı olarak diğer tarafa bildireceğini, aksi halde bu adrese yapılacak tebligatların geçerli sayılacağını kabul eder.</div>
                            <div>
                                <br>
                            </div>
                            <div>10. Delil Sözleşmesi</div>
                            <div>Taraflar arasında işbu sözleşme ile ilgili işlemler için çıkabilecek her türlü uyuşmazlıklarda Taraflar’ın defter, kayıt ve belgeleri ile ve bilgisayar kayıtları ve faks kayıtları 6100 sayılı Hukuk Muhakemeleri Kanunu uyarınca delil olarak kabul edilecek olup, kullanıcı bu kayıtlara itiraz etmeyeceğini kabul eder.</div>
                            <div>
                                <br>
                            </div>
                            <div>11. Uyuşmazlıkların Çözümü</div>
                            <div>İşbu Sözleşme’nin uygulanmasından veya yorumlanmasından doğacak her türlü uyuşmazlığın çözümünde İstanbul (Merkez) Adliyesi Mahkemeleri ve İcra Daireleri yetkilidir.</div>
                            <div>
                                <br>
                            </div>
                            <div>
                                <br>
                            </div>
                            <div>
                                <br>
                            </div>
                            <div>
                                <br>
                            </div><br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- Modal Gizlilik Politikası -->
<div class="wrap-modal3 js-modal3 p-t-60 p-b-20">
    <div class="overlay-modal3 js-hide-modal3"></div>

    <div class="container" style="width:70%">
        <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
            <button class="how-pos3 hov3 trans-04 js-hide-modal3">
                <img src="~/template/images/icons/icon-close.png" alt="CLOSE">
            </button>

            <div class="row">
                <div class="col-md-12 col-lg-12 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div>
                            <div>
                                <br>
                            </div>
                            <div>GİZLİLİK VE GÜVENLİK POLİTİKASI</div>

                            <div>&nbsp;</div>
                            <div>Mağazamızda verilen tüm servisler ve ,<b>aydinoglulavander.com</b> adresinde kayıtlı &nbsp;<b>Aydınoğlu Lavander</b>.Şti. firmamıza aittir ve firmamız tarafından işletilir.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>Firmamız, çeşitli amaçlarla kişisel veriler toplayabilir. Aşağıda, toplanan kişisel verilerin nasıl ve ne şekilde toplandığı, bu verilerin nasıl ve ne şekilde korunduğu belirtilmiştir.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>Üyelik veya Mağazamız üzerindeki çeşitli form ve anketlerin doldurulması suretiyle üyelerin kendileriyle ilgili bir takım kişisel bilgileri (isim-soy isim, firma bilgileri, telefon, adres veya e-posta adresleri gibi) Mağazamız tarafından işin doğası gereği toplanmaktadır.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>Firmamız bazı dönemlerde müşterilerine ve üyelerine kampanya bilgileri, yeni ürünler hakkında bilgiler, promosyon teklifleri gönderebilir. Üyelerimiz bu gibi bilgileri alıp almama konusunda her türlü seçimi üye olurken yapabilir, sonrasında üye girişi yaptıktan sonra hesap bilgileri bölümünden bu seçimi değiştirilebilir ya da kendisine gelen bilgilendirme iletisindeki linkle bildirim yapabilir.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>Mağazamız üzerinden veya eposta ile gerçekleştirilen onay sürecinde, üyelerimiz tarafından mağazamıza elektronik ortamdan iletilen kişisel bilgiler, Üyelerimiz ile yaptığımız "Kullanıcı Sözleşmesi" ile belirlenen amaçlar ve kapsam dışında üçüncü kişilere açıklanmayacaktır.</div>
                            <div>
                                <br>
                            </div>
                            <div>Sistemle ilgili sorunların tanımlanması ve verilen hizmet ile ilgili çıkabilecek sorunların veya uyuşmazlıkların hızla çözülmesi için, Firmamız, üyelerinin IP adresini kaydetmekte ve bunu kullanmaktadır. IP adresleri, kullanıcıları genel bir şekilde tanımlamak ve kapsamlı demografik bilgi toplamak amacıyla da kullanılabilir.</div>
                            <div>
                                <br>
                            </div>
                            <div>Firmamız, Üyelik Sözleşmesi ile belirlenen amaçlar ve kapsam dışında da, talep edilen bilgileri kendisi veya işbirliği içinde olduğu kişiler tarafından doğrudan pazarlama yapmak amacıyla kullanabilir. &nbsp;Kişisel bilgiler, gerektiğinde kullanıcıyla temas kurmak için de kullanılabilir. Firmamız tarafından talep edilen bilgiler veya kullanıcı tarafından sağlanan bilgiler veya Mağazamız üzerinden yapılan işlemlerle ilgili bilgiler; Firmamız ve işbirliği içinde olduğu kişiler tarafından, "Üyelik Sözleşmesi" ile belirlenen amaçlar ve kapsam dışında da, üyelerimizin kimliği ifşa edilmeden çeşitli istatistiksel değerlendirmeler, veri tabanı oluşturma ve pazar araştırmalarında kullanılabilir.</div>
                            <div>
                                <br>
                            </div>
                            <div>Firmamız, gizli bilgileri kesinlikle özel ve gizli tutmayı, bunu bir sır saklama yükümü olarak addetmeyi ve gizliliğin sağlanması ve sürdürülmesi, gizli bilginin tamamının veya herhangi bir kısmının kamu alanına girmesini veya yetkisiz kullanımını veya üçüncü bir kişiye ifşasını önlemek için gerekli tüm tedbirleri almayı ve gerekli özeni göstermeyi taahhüt etmektedir.</div>
                            <div>&nbsp;</div>
                            <div>KREDİ KARTI GÜVENLİĞİ</div>
                            <div>&nbsp;</div>
                            <div>Firmamız, alışveriş sitelerimizden alışveriş yapan kredi kartı sahiplerinin güvenliğini ilk planda tutmaktadır. Kredi kartı bilgileriniz hiçbir şekilde sistemimizde saklanmamaktadır.</div>
                            <div>&nbsp;</div>
                            <div>İşlemler sürecine girdiğinizde güvenli bir sitede olduğunuzu anlamak için dikkat etmeniz gereken iki şey vardır. Bunlardan biri tarayıcınızın en alt satırında bulunan bir anahtar ya da kilit simgesidir. Bu güvenli bir internet sayfasında olduğunuzu gösterir ve her türlü bilgileriniz şifrelenerek korunur. Bu bilgiler, ancak satış işlemleri sürecine bağlı olarak ve verdiğiniz talimat istikametinde kullanılır. Alışveriş sırasında kullanılan kredi kartı ile ilgili bilgiler alışveriş sitelerimizden bağımsız olarak 128 bit SSL (Secure Sockets Layer) protokolü ile şifrelenip sorgulanmak üzere ilgili bankaya ulaştırılır. Kartın kullanılabilirliği onaylandığı takdirde alışverişe devam edilir. Kartla ilgili hiçbir bilgi tarafımızdan görüntülenemediğinden ve kaydedilmediğinden, üçüncü şahısların herhangi bir koşulda bu bilgileri ele geçirmesi engellenmiş olur.</div>
                            <div>Online olarak kredi kartı ile verilen siparişlerin ödeme/fatura/teslimat adresi bilgilerinin güvenilirliği firmamiz tarafından Kredi Kartları Dolandırıcılığı'na karşı denetlenmektedir. Bu yüzden, alışveriş sitelerimizden ilk defa sipariş veren müşterilerin siparişlerinin tedarik ve teslimat aşamasına gelebilmesi için öncelikle finansal ve adres/telefon bilgilerinin doğruluğunun onaylanması gereklidir. Bu bilgilerin kontrolü için gerekirse kredi kartı sahibi müşteri ile veya ilgili banka ile irtibata geçilmektedir.</div>
                            <div>Üye olurken verdiğiniz tüm bilgilere sadece siz ulaşabilir ve siz değiştirebilirsiniz. Üye giriş bilgilerinizi güvenli koruduğunuz takdirde başkalarının sizinle ilgili bilgilere ulaşması ve bunları değiştirmesi mümkün değildir. Bu amaçla, üyelik işlemleri sırasında 128 bit SSL güvenlik alanı içinde hareket edilir. Bu sistem kırılması mümkün olmayan bir uluslararası bir şifreleme standardıdır.</div>
                            <div>
                                <br>
                            </div>
                            <div>Bilgi hattı veya müşteri hizmetleri servisi bulunan ve açık adres ve telefon bilgilerinin belirtildiği İnternet alışveriş siteleri günümüzde daha fazla tercih edilmektedir. Bu sayede aklınıza takılan bütün konular hakkında detaylı bilgi alabilir, online alışveriş hizmeti sağlayan firmanın güvenirliği konusunda daha sağlıklı bilgi edinebilirsiniz.&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>Not: İnternet alışveriş sitelerinde firmanın açık adresinin ve telefonun yer almasına dikkat edilmesini tavsiye ediyoruz. Alışveriş yapacaksanız alışverişinizi yapmadan ürünü aldığınız mağazanın bütün telefon / adres bilgilerini not edin. Eğer güvenmiyorsanız alışverişten önce telefon ederek teyit edin. Firmamıza ait tüm online alışveriş sitelerimizde firmamıza dair tüm bilgiler ve firma yeri belirtilmiştir.</div>
                            <div>&nbsp;</div>
                            <div>MAİL ORDER KREDİ KART BİLGİLERİ GÜVENLİĞİ</div>
                            <div>&nbsp;</div>
                            <div>Kredi kartı mail-order yöntemi ile bize göndereceğiniz kimlik ve kredi kart bilgileriniz firmamız tarafından gizlilik prensibine göre saklanacaktır. Bu bilgiler olası banka ile oluşubilecek kredi kartından para çekim itirazlarına karşı 60 gün süre ile bekletilip daha sonrasında imha edilmektedir. Sipariş ettiğiniz ürünlerin bedeli karşılığında bize göndereceğiniz tarafınızdan onaylı mail-order formu bedeli dışında herhangi bir bedelin kartınızdan çekilmesi halinde doğal olarak bankaya itiraz edebilir ve bu tutarın ödenmesini engelleyebileceğiniz için bir risk oluşturmamaktadır.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>
                                <br>
                            </div>
                            <div>ÜÇÜNCÜ TARAF WEB SİTELERİ VE UYGULAMALAR</div>
                            <div>Mağazamız, &nbsp;web sitesi dâhilinde başka sitelere link verebilir. Firmamız, bu linkler vasıtasıyla erişilen sitelerin gizlilik uygulamaları ve içeriklerine yönelik herhangi bir sorumluluk taşımamaktadır. Firmamıza ait sitede yayınlanan reklamlar, reklamcılık yapan iş ortaklarımız aracılığı ile kullanıcılarımıza dağıtılır. İş bu sözleşmedeki Gizlilik Politikası Prensipleri, sadece Mağazamızın kullanımına ilişkindir, üçüncü taraf web sitelerini kapsamaz.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>İSTİSNAİ HALLER</div>
                            <div>Aşağıda belirtilen sınırlı hallerde Firmamız, işbu "Gizlilik Politikası" hükümleri dışında kullanıcılara ait bilgileri üçüncü kişilere açıklayabilir. Bu durumlar sınırlı sayıda olmak üzere;</div>
                            <div>1.<span class="Apple-tab-span"></span>Kanun, Kanun Hükmünde Kararname, Yönetmelik v.b. yetkili hukuki otorite tarafından çıkarılan ve yürürlülükte olan hukuk kurallarının getirdiği zorunluluklara uymak;</div>
                            <div>2.<span class="Apple-tab-span"></span>Mağazamızın kullanıcılarla akdettiği "Üyelik Sözleşmesi"'nin ve diğer sözleşmelerin gereklerini yerine getirmek ve bunları uygulamaya koymak amacıyla;</div>
                            <div>3.<span class="Apple-tab-span"></span>Yetkili idari ve adli otorite tarafından usulüne göre yürütülen bir araştırma veya soruşturmanın yürütümü amacıyla kullanıcılarla ilgili bilgi talep edilmesi;</div>
                            <div>4.<span class="Apple-tab-span"></span>Kullanıcıların hakları veya güvenliklerini korumak için bilgi vermenin gerekli olduğu hallerdir.&nbsp;</div>
                            <div>
                                <br>
                            </div>
                            <div>E-POSTA GÜVENLİĞİ</div>
                            <div>Mağazamızın Müşteri Hizmetleri’ne, herhangi bir siparişinizle ilgili olarak göndereceğiniz e-postalarda, asla kredi kartı numaranızı veya şifrelerinizi yazmayınız. E-postalarda yer alan bilgiler üçüncü şahıslar tarafından görülebilir. Firmamız e-postalarınızdan aktarılan bilgilerin güvenliğini hiçbir koşulda garanti edemez.</div>
                            <div>
                                <br>
                            </div>
                            <div>TARAYICI ÇEREZLERİ&nbsp;</div>
                            <div>Firmamız, mağazamızı ziyaret eden kullanıcılar ve kullanıcıların web sitesini kullanımı hakkındaki bilgileri teknik bir iletişim dosyası (Çerez-Cookie) kullanarak elde edebilir. Bahsi geçen teknik iletişim dosyaları, ana bellekte saklanmak üzere bir internet sitesinin kullanıcının tarayıcısına (browser) gönderdiği küçük metin dosyalarıdır. Teknik iletişim dosyası site hakkında durum ve tercihleri saklayarak İnternet'in kullanımını kolaylaştırır.</div>
                            <div>
                                <br>
                            </div>
                            <div>Teknik iletişim dosyası, &nbsp;siteyi kaç kişinin ziyaret ettiğini, bir kişinin siteyi hangi amaçla, kaç kez ziyaret ettiğini ve ne kadar sitede kaldıkları hakkında istatistiksel bilgileri elde etmeye ve kullanıcılar için özel tasarlanmış kullanıcı sayfalarından &nbsp;dinamik olarak reklam ve içerik üretilmesine yardımcı olur. Teknik iletişim dosyası, ana bellekte veya e-postanızdan veri veya başkaca herhangi bir kişisel bilgi almak için tasarlanmamıştır. Tarayıcıların pek çoğu başta teknik iletişim dosyasını kabul eder biçimde tasarlanmıştır ancak kullanıcılar dilerse teknik iletişim dosyasının gelmemesi veya teknik iletişim dosyasının gönderildiğinde uyarı verilmesini sağlayacak biçimde ayarları değiştirebilirler.</div>
                            <div>
                                <br>
                            </div>
                            <div>Firmamız, işbu "Gizlilik Politikası" hükümlerini dilediği zaman sitede yayınlamak veya kullanıcılara elektronik posta göndermek veya sitesinde yayınlamak suretiyle değiştirebilir. Gizlilik Politikası hükümleri değiştiği takdirde, yayınlandığı tarihte yürürlük kazanır.</div>
                            <div>
                                <br>
                            </div>
                            <div>Gizlilik politikamız ile ilgili her türlü soru ve önerileriniz için ……………….. adresine email gönderebilirsiniz. Firmamız’a ait aşağıdaki iletişim bilgilerinden ulaşabilirsiniz.</div>
                            <div>
                                <br>
                            </div>
                            <div>Firma Ünvanı<span class="Apple-tab-span"></span>:&nbsp;</div>
                            <div>Adres<span class="Apple-tab-span"></span>:&nbsp;</div>
                            <div>Eposta<span class="Apple-tab-span"></span>:&nbsp;</div>
                            <div>Tel:</div>
                            <div>Fax:</div>
                            <div>
                                <br>
                            </div>
                            <div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    function togglePassword() {
        var element = document.getElementById('UserPassword');
        element.type = (element.type == 'password' ? 'text' : 'password');
    }
</script>

@section OzelScript
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @if (Session["MailInfo"] == "Kayitli")
    {
        Session["MailInfo"] = null;

        <script>
            window.onload = function () {
                Swal.fire({
                    icon: "error",
                    title: "Bu e- posta adresi kayıtlıdır. Lütfen başka bir e-posta adresi deneyiniz.!",
                    showConfirmButton: false,
                    timer: 2500
                });
            }
        </script>
    }
}