@model EntityLayer.Concrete.Setting
@{
    ViewBag.Title = "EditSetting";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ayarları Güncelle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Setting</a></li>
                        <li class="breadcrumb-item active">EditSetting</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-body pad table-responsive">
                            @using (Html.BeginForm("EditSetting", "Setting", FormMethod.Post))
                            {
                                <div class="form-group col-md-6" style="padding-left: 45px">

                                    @Html.HiddenFor(x => x.SettingID, new { @class = "form-control" })

                                    @Html.Label("Duyuru:")
                                    @Html.TextBoxFor(x => x.Announcement, new { @class = "form-control" })
                                    <p style="color:red"> @Html.ValidationMessageFor(x => x.Announcement) </p>
                                    <br />

                                    @Html.Label("Kargo Ücreti:")
                                    @Html.TextBoxFor(x => x.CargoPrice, new { @class = "form-control" })
                                    <p style="color:red"> @Html.ValidationMessageFor(x => x.CargoPrice) </p>
                                    <br />

                                    <button class="btn btn-success">Ayarları Güncelle</button>
                                    <a href="/Admin/Index" class="btn btn-secondary">Geri</a>

                                </div>
                            }
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- ./row -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>